In [1]:
## Importing Library

In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [3]:
URL='https://www.iplt20.com/auction/2022' #URL from IPL Auction 2022

In [4]:
# store the headers as a dict
headers = ({'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36','Accept-Language': 'en-US,en;q=0.9'})

In [5]:
webpage=requests.get(URL,headers=headers)
webpage # Checking the status of URL

In [6]:
type(webpage.content) #content types

bytes

In [7]:
#Soup containing all data
soup=BeautifulSoup(webpage.content,'html.parser')

In [8]:
table=soup.find('table',class_='ih-td-tab auction-tbl') #finding all the table anchor

In [9]:
title=table.find_all('th') #finding all th inside table
title

[<th class="skip-filter" style="width:25%;text-align: left;">TEAM</th>,
 <th class="skip-filter" style="width:25%;">FUNDS REMAINING</th>,
 <th class="skip-filter" style="width:25%;">OVERSEAS PLAYERS </th>,
 <th class="skip-filter" style="width:25%;">TOTAL PLAYERS</th>]

In [10]:
header=[] #filtering all table columns
for i in title:
    name=i.text
    header.append(name)
header

['TEAM', 'FUNDS REMAINING', 'OVERSEAS PLAYERS ', 'TOTAL PLAYERS']

In [11]:
df=pd.DataFrame(columns=header) #adding columns to DataFrame
df

Empty DataFrame
Columns: [TEAM, FUNDS REMAINING, OVERSEAS PLAYERS , TOTAL PLAYERS]
Index: []

In [12]:
rows=table.find_all('tr') #finding all tr .i.e table rows

In [13]:
for i in rows[1:]:
    data=i.find_all('td')
    row=[tr.text for tr in data]
    l=len(df)
    df.loc[l]=row
df #adding all the rows to the dataframe

,TEAM,FUNDS REMAINING,OVERSEAS PLAYERS,TOTAL PLAYERS
0,\n\n\n\n\nChennai Super Kings\n\n,"₹2,95,00,000",8,25
1,\n\n\n\n\nDelhi Capitals\n\n,"₹10,00,000",7,24
2,\n\n\n\n\nGujarat Titans\n\n,"₹15,00,000",8,23
3,\n\n\n\n\nKolkata Knight Riders\n\n,"₹45,00,000",8,25
4,\n\n\n\n\nLucknow Super Giants\n\n,₹0,7,21
5,\n\n\n\n\nMumbai Indians\n\n,"₹10,00,000",8,25
6,\n\n\n\n\nPunjab Kings\n\n,"₹3,45,00,000",7,25
7,\n\n\n\n\nRajasthan Royals\n\n,"₹95,00,000",8,24
8,\n\n\n\n\nRoyal Challengers Bangalore\n\n,"₹1,55,00,000",8,22
9,\n\n\n\n\nSunrisers Hyderabad\n\n,"₹10,00,000",8,23

In [14]:
df['TEAM']=df['TEAM'].str.replace('\n','') #Replacing the \n from Team

In [15]:
df

                          TEAM FUNDS REMAINING OVERSEAS PLAYERS  TOTAL PLAYERS
0          Chennai Super Kings    ₹2,95,00,000                 8            25
1               Delhi Capitals      ₹10,00,000                 7            24
2               Gujarat Titans      ₹15,00,000                 8            23
3        Kolkata Knight Riders      ₹45,00,000                 8            25
4         Lucknow Super Giants              ₹0                 7            21
5               Mumbai Indians      ₹10,00,000                 8            25
6                 Punjab Kings    ₹3,45,00,000                 7            25
7             Rajasthan Royals      ₹95,00,000                 8            24
8  Royal Challengers Bangalore    ₹1,55,00,000                 8            22
9          Sunrisers Hyderabad      ₹10,00,000                 8            23